body, html {
    margin: 0;
    padding: 0;
  }

  .fondo {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  .imagen-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 1;
  }

  .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-3%, -52%);
    z-index: 2; 
    color: white;
    background-color: #137DD5;
    padding: 5px 240px 5px 300px;
    border-radius: 10px;
    text-align: center;
  }

  .contenido {
    padding: 30px;
    width: 30%;
    height: 100%;
  }

  #Nombre{
    margin-left: 195px;
  }

  #Apellido{
    margin-left: 195px;
  }
  
  #Correo{
    margin-left: 165px;
  }

  #Mensaje{
    margin-left: 195px;
  }

  .espacio{
    margin-left: 137px;
  }

  #mensaje{
    margin-left: 110px;
  }

  .contenedor {
    height: 100vh; /* 100% de la altura de la pantalla */
    display: flex;
  }

  .contenido, .redes {
    padding: 20px;    /* espacio interior */
    box-sizing: border-box;
  }

  #redes{
    background-color: #AAF6E2;
  }

  .contenido{
    width: 40%;
  }

  #im_face {
    width: 250px;
    height: 250px;
    padding: 20px;
  }

  #im_inst{
    width: 250px;
    height: 250px;
    padding: 20px;
  }

  #im_X{
    width: 250px;
    height: 250px;
    padding: 20px;
  }

  #im_tik{
    width: 260px;
    height: 255px;
    padding: 20px;
  }

  #insta{
    margin-left: 80px;
  }

  #face{
    margin-left: 55px;
  }

  #X{
    margin-left: 80px;
  }

  #tiktok{
    margin-left: 85px;
  }


  #formula{
    background-color: #7FDAC2;
  }

  #h1_redes{
    text-align: center;
  }

  #h2_datos{
    text-align: center;
  }