/* Paleta colores
Aguamarina claro #AAF6E2
Aguamarina oscuro #7FDAC2
Azul #137DD5
 */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #AAF6E2;
    margin: 0;
}

/* Fondo Header */
.bg-1{    
    background-color: #AAF6E2;
}

/* titulo color y lead */

.bg-2{
  color: #137DD5;
}



/* Estilos Reseñas */

/* fondo Reseñas */
.bg-3{
  background-color: #7FDAC2;
}

.bg-5{
  color: #f5f5f5;
}

/* fondo Cards */
.bg-4{
  background-color: aliceblue;
}

  
  
 